.home-container {
    padding: 60px 40px 40px;
}

.home-image {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 50px 0px 0px 100px;
}

.home-text {
    display: inline-block;
    width: 46%;
    margin: 200px 0px 0px 0px;
    font-size: 25px;
}
