.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-container {
    margin: 0;
}

.navbar-name {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 60rem 0px 0px;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    display: inline-block;
    padding: 15px 20px;
}

.nav-links {
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-links:hover {
    background-color: #111;
}
